#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body{
    background-color: rgb(255, 255, 255);

}

.column {
    background-color: rgb(228, 227, 227);
    margin-top: 20px;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.title {
    font-family: sans-serif;
    font-size: 18px;

}

.anti-dots {
    list-style-type: none;
}

input {
    font-family: sans-serif;
    font-size: 16px;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

h3 {
    font-family: sans-serif;
    text-align: center;
}


ul {
    padding: 0;
}

.but-test {
    background-color: rgb(0, 128, 255);
    width: 120px;
    height: 30px;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

.but-test:hover {
    background-color: rgb(0, 117, 234);
}

.but-work {
    background-color: rgb(0, 128, 255);
    width: 80px;
    height: 30px;
    color: white;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

.but-work:hover {
    background-color: rgb(0, 116, 230);
}

.but-return {
    background-color: rgb(255, 136, 0);
    width: 80px;
    height: 30px;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

.but-return:hover {
    background-color: rgb(244, 108, 2);
}

.but-del {
    background-color: rgb(255, 0, 0);
    width: 80px;
    height: 30px;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

.but-del:hover {
    background-color: rgb(234, 0, 0);
}

.but {
    background-color: rgb(34, 218, 70);
    color: white;
    width: 90px;
    height: 30px;
    margin-top: 20px;
    padding: 6px;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}

.but-edit {
    background-color: rgb(138, 133, 133);
    color: white;
    width: 120px;
    height: 30px;
    padding: 3px;
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

.but-edit:hover {
    background-color: rgb(166, 164, 164);
}

.but:hover {
    background-color: rgb(0, 202, 40);
}

.but-comp {
    background-color: rgb(7, 174, 7);
    color: white;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

.but-comp:hover {
    background-color: rgb(0, 161, 0);
}
p {
    margin-top: 20px;
    font-family: sans-serif;
}


p {
    margin-top: 20px;
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

.form {
    height: 14px;
    width: 230px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;

}

.data {
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;

}

.board {
    display: flex;
    gap: 20px;
}

.overdue {
    color: red;
}

.completed {
    color: green;
}

.add-card-form {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(228, 227, 227);
    border-radius: 8px;
}

li {
    font-family: sans-serif;
    font-size: 16px;
    list-style-type: none;
}